---
layout: layouts/construction.njk
pageTitle: Glossário
headerType: doc
asideType: doc
constructionMessage: "Estamos preparando definições claras e concisas para você!"
constructionEstimate: "02/02/2026"
constructionProgress: 50
permalink: /docs/glossary/
---
