@forward 'accordion';
@forward 'alerts';
@forward 'back-to-top';
@forward 'badges';
@forward 'breadcrumb';
@forward 'buttons';
@forward 'code-block';
@forward 'modal';
@forward 'quiz';
@forward 'tabs';
@forward 'tooltip';
@forward 'video';

