<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include "partials/head.njk" %}
  </head>

  <body>
    {% block header %}
      {% if headerType == "doc" %}
        {% include "partials/header-doc.njk" %}
      {% else %}
        {% include "partials/header-home.njk" %}
      {% endif %}
    {% endblock %}

    <div class="portal__layout">
      {% block aside %}
        {% if asideType == "doc" %}
          {% include "partials/aside-doc.njk" %}
        {% elif asideType == "samples" %}
          {% include "partials/aside-samples.njk" %}
        {% else %}
          {% include "partials/aside-home.njk" %}
        {% endif %}
      {% endblock %}

      <main id="main-content" class="portal__main">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    {% include "partials/footer.njk" %}

    {% block scripts %}{% endblock %}
  </body>
</html>
