---
layout: layouts/construction.njk
pageTitle: Título da Página (Aba do Navegador)
title: Título Principal (H1)
headerType: doc # ou 'home'
asideType: doc  # ou 'home'

# Configurações Específicas da Página de Construção
constructionMessage: "Mensagem personalizada para o usuário sobre o status do desenvolvimento."
constructionEstimate: "Previsão de Lançamento (ex: Dezembro 2024)"
constructionProgress: 45 # Valor de 0 a 100
permalink: /samples/templates/construction/
---
