---
layout: layouts/base.njk
title: Exemplos de Componentes
asideType: home
asideTopButton:
  href: "/"
  text: "Início"
  variant: "nav"
---
<section class="portal__section">
    <h1 class="portal__section-title">Exemplos de Componentes</h1>
    <p class="portal__introduction-text">
    Explore exemplos práticos de como usar os componentes disponíveis no site.
    </p>

    <hr class="portal__divider">

    <h1 class="portal__section-title">Componentes Disponíveis</h1>

    <ul class="portal__features-list">
        <li><strong><a href="{{ 'samples/components/alerts/' | url }}">Alertas</a></strong>: (./components/alerts/) - Note, Tip, Important, Caution, Warning</li>
        <li><strong><a href="{{ 'samples/components/code-block/' | url }}">Bloco de código</a></strong>: (./components/code-block/) - Bash, PowerShell, Markdown</li>
        <li><strong><a href="{{ 'samples/components/buttons/' | url }}">Botões</a></strong>: (./components/buttons/) - Nav, Module, com ícones</li>
        <li><strong><a href="{{ 'samples/components/constructions/' | url }}">Conteúdo em Construção</a></strong>: (./components/construction/) - Como utilizar o modelo de página em construção</li>
        <li><strong><a href="{{ 'samples/components/cards/' | url }}">Cards</a></strong>: (./components/cards/) - (em breve)</li>
    </ul>

    <hr class="portal__divider">

    <h1 class="portal__section-title">Templates Disponíveis</h1>

    <ul class="portal__features-list">
        <li><strong><a href="{{ 'samples/templates/module-template/' | url }}">Modelo de Módulo</a></strong>: (./templates/module-template/) - Modelo de página de módulo</li>
        <li><strong><a href="{{ 'samples/templates/construction/' | url }}">Modelo de Conteúdo em Construção</a></strong>: (./templates/construction/) - Modelo de página em construção</li>
    </ul>

</section>