<a class="portal__skip-link" href="#main-content">Pular para o conteúdo</a>

<header class="portal__header">
  <p class="portal__kicker">
    <a class="portal__home-link" href="{{ '/' | url }}"><i class="fa-brands fa-linux"></i> Linux Studies</a>
    <span class="portal__kicker-sep">/</span>
    <span class="portal__kicker-current">Documentação</span>
  </p>

  <h1 class="portal__title">{{ title }}</h1>
  <p class="portal__subtitle">{{ subtitle }}</p>
</header>
